.wrapper {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90px;
    display: grid;
    grid-template-columns: 3fr 4fr 3fr;
    align-items: center;
    z-index: 1000;
    background-color: #120c1c;
    border-top: 1px solid var(--bg-hover-color);
    padding: 0 20px;
    overflow: hidden;
    .info {
        display: flex;
        align-items: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        .img {
            max-width: 64px;
            max-height: 64px;
            object-fit: cover;
            border-radius: 5px;
        }
        .content {
            display: flex;
            flex-direction: column;
            height: 60%;
            justify-content: space-between;
            margin: 0 10px;
            .song-name {
                font-size: 14px;
            }
            .artists {
                font-size: 12px;
                color: var(--text);
            }
        }
    }
    .control {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 4%;
        .handler {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: #fff;
            width: 100%;
            flex-shrink: 0;
            .play {
                background-color: transparent;
                border: 1px solid #fff;
                &:hover {
                    color: #b066db;
                    border-color: currentColor;
                }
            }
        }
        .range {
            margin-top: 10px;
            display: flex;
            align-items: center;
            .song-progress {
                width: 100%;
                margin: 0 10px;
                height: 4px;
                cursor: pointer;
                &:hover {
                    height: 8px;
                }
            }
            .time {
                font-size: 12px;
                color: var(--text);
            }
        }
    }
    .option {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .volume {
            display: flex;
            overflow: hidden;
            align-items: center;
            border-right: 1px solid var(--bg-hover-color);
            padding-right: 15px;
            .volume-progress {
                width: 70px;
                height: 4px;
                cursor: pointer;
            }
        }
        .list-song {
            height: 30px;
            width: 30px;
            background-color: var(--bg-hover-color);
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 15px;
            cursor: pointer;
        }
    }
}
.active {
    color: #b066db;
}
@media screen and (max-width: 876px) {
    .option {
        display: none !important;
    }
    .wrapper {
        grid-template-columns: 1fr 1fr !important;
    }
}
