.roundedm {
    padding: 8px 25px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 999px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    cursor: pointer;
    // background-color: transparent;
    &:hover {
        background-color: var(--bg-hover-color);
    }
}
.roundeds {
    padding: 4px 24px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 999px;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        opacity: 0.9;
    }
}
.cirlcel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: #2f2739;
    }
}

.circlem {
    width: 40px;
    color: #fff;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f2739;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.05);
}
.circles {
    width: 32px;
    height: 32px;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: transparent;

    &:hover {
        background-color: #2f2739;
    }
}
.circlescolor {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    color: #fff;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #7200a1;
    margin: 0 5px;
    background-color: transparent;
}
