.wrapper {
    overflow-y: hidden;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    .container {
        width: 100%;
        height: calc(100vh - 90px);
        display: flex;
        .sidebar {
            width: 240px;
        }
        .header {
            width: calc(100% - 240px);
            height: 70px;
            background-color: #ccc;
            background-color: transparent;
            position: fixed;
            z-index: 1000;
            &.sticky {
                background-color: var(--layout-bg) !important;
            }
        }
        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            .page {
                background-color: var(--layout-bg);
                flex: 1;
                overflow-y: overlay;
            }
            .page::-webkit-scrollbar {
                width: 4px;
                z-index: 1000;
            }
            .page::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 10px;
            }
            &:hover {
                .page::-webkit-scrollbar-thumb {
                    background: #ccc;
                }
            }
        }
    }
}
@media screen and (max-width: 1200px) {
    .sidebar {
        width: 70px !important;
    }
    .header {
        width: calc(100% - 70px) !important;
    }
}
