.wrapper {
    padding: var(--offset-padding-page);
    margin-top: var(--offset-top);
    display: grid;
    grid-template-columns: 1fr 2fr;
    .info {
        .avatar {
            border-radius: 10px;
            max-width: 300px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            margin: 10px;
            margin-left: auto;
            margin-right: auto;
            &.avatar-playing {
                border-radius: 50%;
            }
            .img {
                width: 100%;
                height: auto;
                object-fit: cover;
                transition: transform 0.6s;
                &:hover {
                    transform: scale(1.1);
                }
                &.img-playing {
                    animation: rotating 10s linear infinite;
                }
            }
            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                background-color: transparent;
                border: 1px solid #fff;
                display: none;
            }
            &:hover {
                .play {
                    display: flex !important;
                }
                img {
                    filter: opacity(0.8);
                }
            }
        }
        .desc {
            text-align: center;
            .title {
                font-size: 20px;
                color: #fff;
                width: 100%;
                max-width: 300px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-left: auto;
                margin-right: auto;
            }
            .time,
            .artist-name,
            .liked {
                font-size: 12px;
                line-height: 21px;
                color: var(--text);
            }
            .artist-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    text-decoration: underline;
                    color: var(--link-text-hover);
                }
            }
        }
        .play-btn {
            background-color: #7200a1;
            border-color: #7200a1;
            text-align: center;
            margin-left: 50%;
            transform: translateX(-50%);
            margin-top: 10px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
    .content {
        height: calc(100vh - 70px - 90px);
        overflow-y: scroll;
        .sort-description {
            font-size: 14px;
            color: #fff;
            margin: 20px;
            span {
                color: var(--text);
                font-weight: 500;
            }
        }
        .section-title {
            margin: 40px 0 10px 20px;
            font-size: 20px;
            color: #fff;
        }
    }
    .content::-webkit-scrollbar {
        width: 4px;
        height: 10px;
    }
    .content::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: 1fr !important;
    }
}
