.wrapper {
    display: flex;
    align-items: center;
    border-radius: 4px;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    .avatar {
        height: 60px;
        width: 60px;
        border-radius: 5px;
        margin-right: 12px;
        position: relative;
        border-radius: 4px;
        cursor: pointer;
        overflow: hidden;
        flex-shrink: 0;
        img {
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
            border-radius: 5px;
        }
    }

    .song-play {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.5);
        top: 0;
        width: 100%;
        height: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }
    .info {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        .song-title {
            display: flex;
            flex-direction: column;
            font-size: 14px;
            color: #fff;
            font-weight: 500;
            line-height: 18px;
            .title {
                font-size: 12px;
                color: var(--text);
            }
            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .vip-label {
                margin-left: 8px;
            }
        }
        .vip-label {
            display: inline-flex;
        }
        .artists {
            font-size: 12px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .singers {
                color: var(--text);
                text-decoration: none;
                &:hover {
                    color: var(--link-text-hover);
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
    &:hover {
        background-color: hsla(0, 0%, 100%, 0.1);
    }
    &:hover .song-play {
        display: flex;
    }
}
.wrapper.playing {
    background-color: hsla(0, 0%, 100%, 0.1);
    .song-play {
        display: flex;
    }
}
