.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    .info {
        display: grid;
        background-color: #36264e;
        padding: 100px 4% 30px;
        justify-content: space-between;
        grid-template-columns: 2fr 1fr;
        .bio {
            overflow: hidden;
            color: #fff;
            .name {
                font-size: 40px;
                font-weight: 700;
            }
            .desc {
                font-size: 14px;
                max-width: 400px;
                margin: 15px 0;
            }
            .play-btn {
                background-color: #7200a1;
                border-color: transparent;
            }
            .icon {
                margin-right: 10px;
            }
        }
        .avatar {
            overflow: hidden;
            img {
                border-radius: 50%;
                width: 100%;
                height: auto;
                max-height: 260px;
                max-width: 260px;
                object-fit: cover;
            }
        }
    }
    .songs-top {
        height: 290px;
        margin: 30px 0;
        padding: var(--offset-padding-page);
        .title {
            width: 100%;
            font-size: 20px;
            color: #fff;
            font-weight: 700;
        }
        .content {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            margin-top: 20px;
            .avatar {
                img {
                    max-width: 240px;
                    max-height: 240px;
                }
            }
            .songs-section::-webkit-scrollbar {
                width: 4px;
            }
            .songs-section::-webkit-scrollbar-thumb {
                background: transparent;
                border-radius: 10px;
            }
            .songs-section {
                overflow-y: scroll;
                overflow-x: hidden;
                height: 250px;
            }
            &:hover {
                .songs-section::-webkit-scrollbar-thumb {
                    background: #999;
                }
            }
        }
    }
}
@media screen and (max-width: 876px) {
    .avatar {
        display: none;
    }
    .content {
        display: flex !important;
    }
    .songs-top {
        padding: 0 2% !important;
    }
    .songs-section {
        width: 100% !important;
    }
}
