.wrapper {
    width: 100%;
    padding: var(--offset-padding-page);

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3 {
            font-size: 20px;
            color: #fff;
            margin-bottom: 15px;
        }
        .btn-all {
            font-size: 12px;
            color: var(--text);
            text-transform: uppercase;
        }
        .icon {
            color: var(--text);
            text-transform: uppercase;
            margin: 0 20px 0 5px;
        }
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 30px;
    }
}
@media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr 1fr !important;
        gap: 16px !important;
    }
}
@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr 1fr 1fr !important;
    }
}
@media screen and (max-width: 576px) {
    .grid {
        grid-template-columns: 1fr 1fr !important;
    }
}
