.wrapper {
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: var(--offset-padding-page);
    display: grid;
    grid-template-columns: 2fr 1fr;
    .left {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        .icon {
            width: 15%;
            display: flex;
            .icon-row {
                background-color: transparent;
            }
        }
        .search-fields {
            flex: 1;
            max-width: 540px;
            min-width: 540px;
        }
    }
    .right {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon {
            margin-left: 10px;
        }
        img {
            height: 40px;
            width: 40px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
}
@media screen and (max-width: 1000px) {
    .search-fields {
        min-width: 400px !important;
        max-width: 400px !important;
    }
}
@media screen and (max-width: 876px) {
    .wrapper {
        padding: 0 2%;
        .icon-row,
        .upload {
            display: none;
        }
    }
}
