.wrapper {
    width: 100%;
    z-index: 999;
    .search-fields {
        width: 100% !important;
        height: 100%;
        position: relative;
        color: #fff;
        z-index: 1000000000000;
        .search-input {
            width: 100%;
            height: 40px;
            border-radius: 999px;
            border: transparent;
            outline: none;
            background-color: hsla(0, 0%, 100%, 0.1);
            color: #fff;
            padding: 0 40px;
            &::placeholder {
                color: #dadada;
                font-size: 14px;
            }
        }
        .search-btn {
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 20px;
            color: #fff;
        }
        .clear-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 10px;
            color: #fff;
            font-size: 20px;
        }
        &.bg {
            background-color: #432275;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .search-input {
                background-color: transparent;
            }
        }
    }
    .tippy {
        width: 100%;
    }
    .search-result {
        padding-top: 20px;
        width: 540px;
        margin-top: -20px;
        height: 500px;
        overflow-y: overlay;
        background-color: #432275;
        z-index: 5;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        .search-title {
            font-size: 14px;
            color: #fff;
            padding: 10px;
        }
    }
    .search-result::-webkit-scrollbar {
        width: 4px;
    }
    .search-result::-webkit-scrollbar-thumb {
        background: #999;
        border-radius: 10px;
    }
}
@media screen and (max-width: 1000px) {
    .search-result {
        min-width: 400px !important;
        max-width: 400px !important;
    }
}
