.wrapper {
    width: 240px;
    height: 100%;
    background-color: #231b2e;
    .sidebar-title {
        height: 70px;
        width: 100%;
        background-image: url('https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: 25% 50%;
    }
    .sidebar-top,
    .sidebar-bottom,
    .library {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        font-weight: 700;
        line-height: 19.5px;
        width: 240px;
    }
    .line {
        height: 22px;
        width: 100%;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        .inner-line {
            border-bottom: 1px solid var(--bg-hover-color);
        }
    }
    .sidebar-top {
        flex: 1;
    }
    .sidebar-bottom::-webkit-scrollbar {
        width: 4px;
    }
    .sidebar-bottom::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
    }
    .sidebar-bottom {
        height: 247px;
        width: 100%;
        overflow-y: overlay;
        overflow-x: hidden;
        .box-update {
            height: 109px;
            width: calc(100% - 50px);
            padding: 15px 8px;
            margin: 10px auto;
            flex-shrink: 0;
            background: linear-gradient(90deg, #5946ce, #bf6ad9);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .title {
                font-size: 12px;
                color: #fff;
                text-align: center;
            }
            .btn-update {
                text-align: center;
                a {
                    text-decoration: none;
                    padding: 6px 35px;
                    background-color: #ffdb00;
                    border-color: #ffdb00;
                    font-size: 12px;
                    border-radius: 999px;
                    color: #32323d;
                    font-weight: 600;
                }
            }
        }
        .library {
            .library-title {
                font-size: 13px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #fff;
                padding: 7px 25px;
                position: relative;
                .pencil {
                    height: 25px;
                    width: 25px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    visibility: hidden;
                    &:hover {
                        background-color: var(--bg-hover-color);
                    }
                }
            }
            &:hover .pencil {
                visibility: visible;
            }
        }
        &:hover.sidebar-bottom::-webkit-scrollbar-thumb {
            background: #999;
        }
    }

    .sidebar-addList {
        height: 54px;
        border-top: 1px solid var(--bg-hover-color);
        color: #fff;
        font-size: 14px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        font-weight: 700;
        cursor: pointer;
        .plus {
            font-size: 20px;
            margin-right: 7px;
            font-weight: 300;
        }
    }
}
@media screen and (max-width: 1200px) {
    .wrapper {
        .box-update,
        .library-title,
        .sidebar-addList {
            display: none !important;
        }
        .sidebar-title {
            height: 70px;
            width: 70px;
            background-image: url('https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.7.29/static/media/icon_zing_mp3_60.f6b51045.svg') !important;
            background-size: 60%;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    }
}
